h3{
    font-size: 30px;
    text-align: right;
    color: midnightblue;
}
.nav{
    list-style-type: none;
    background-color: rgb(255, 140, 221);
    text-align: center;
}
.nav li{
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}
.bgcolor{
    background-color: rgb(125, 255, 233);
}
#bgurl{
    text-align: center;
    background-repeat: no-repeat;
}
#bgurl:hover{
    opacity: 0.6;
}
#bgurl img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: contain;
}
#hover{
    width: 100px;
    height: 100px;
    background-color: rgb(6, 255, 255);
    transition: width 2s;
    float: left;
}
#hover:hover{
    width: 300px;
    background-color: cadetblue;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown img{
    width: 300px;
    height: 300px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
.dropdown-content img{
    width: 300px;
    height: 300px;
}
.dropdown:hover .dropdown-content{
    display: block;
}
#text{
    
    background-color: rgb(184, 255, 194);
    border: 10px solid black;
    padding: 20px;
    margin: 20px;
    text-align: justify;
    text-indent: 20%;
}
#text1{
    background-color: rgb(184, 255, 194);
    border: 10px solid black;
    padding: 20px;
    margin: 20px;
    width: 500px;
    float: left;
}